/* styles.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.dropzone {
    border: 2px dashed #cccccc;
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-align: center;
    background-color: #757575;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dropzone:hover {
    background-color: #21c14f;
}

.dropzone.disabled {
    border-color: #dddddd;
    background-color: #eeeeee;
}


.upload-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #45a049;
}

.message {
    margin-top: 20px;
}

.message.error {
    color: red;
}

.message.success {
    color: green;
}