.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.container {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #e7e7e7, #eeeeee);
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  max-width: 600px;
  margin-left: 24px;
  margin-top: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.parentTextArea {
  flex: 1;
  display: flex;
  height: 90vh;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 48px;
}

.fullHeightTextarea {
  flex: 1;
  padding: 10px;
  border-radius: 2px;
  border: none;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  resize: none;
}

.button {
  background-color: #2575fc;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.downloadButton {
  background-color: #1a11cb;
}

.disabledButton {
  background-color: #e7e7e7;
}

.loadingText {
  margin-top: 10px;
  font-size: 1.2em;
  color: #000000;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}